.box {
	height: 300px;
	width: 300px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 300px;
	font-size: 1000%;
}

.box.played {
	background-color: blue;
}

.box:hover {
	background-color: red;
}

.grid {
	width: 950px;
	vertical-align: middle;
}