.box {
	height: 200px;
	width: 200px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	line-height: 200px;
	font-size: 1000%;
	font-family: Impact;
}

.box.played {
	background-color: blue;
}

.box:hover {
	background-color: red;
}

.grid {
	width: 614px;
	vertical-align: middle;
}

body{
	margin-left: 265px;	
}